<!DOCTYPE html>
<html>
<head>
	<title>Show Catalog</title>
</head>
<body>
	<div><span><h2><a href='/'>Catalog App</a></h2></span>
			{% if not user %}
				<span><a href='/login'>Sign In</a></span>
			{% else %}
				Logged in as <b>Dawit</b>
				<span><a href='/gdisconnect'>Sign Out</a></span>
			{% endif %}
	</div>
<table>
	<thead>
		<tr>
			<th style='text-align: left'>Categories</th>
			<th>Latest Items</th>
			<th><a href="{{ url_for('addItem') }}">Add New</a></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width='200px'>
				<div>
					{% for category in categories %}
						<p>
							<a href="{{ url_for('showCategoryItems', category_name=category.name)}}"> 
								{{ category.name }}
							</a>
						</p>
					{% endfor %}
				</div>	
			</td>
			<td>
				<div>
					{% for item in latest_items %}
						<p>
						<a href="{{ url_for('showItem', category_name=item.category.name, item_name=item.name) }}">	
						{{ item.name }}</a> (<i>{{ item.category.name }}</i>)
						
						</p>
					{% endfor %}
				</div>
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
</body>
</html>